@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.button-container {
  height: 48px;
  width: 48px;
}

.button.play {
  cursor: pointer;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 48px;  /* Preferred icon size */
}